@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9729 0.0693 103.1933);
  --foreground: oklch(0.2827 0.1351 291.0894);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2827 0.1351 291.0894);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2827 0.1351 291.0894);
  --primary: oklch(0.4955 0.2369 301.9241);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8606 0.1731 91.9357);
  --secondary-foreground: oklch(0.2827 0.1351 291.0894);
  --muted: oklch(0.9619 0.0580 95.6174);
  --muted-foreground: oklch(0.5517 0.0138 285.9385);
  --accent: oklch(0.9052 0.1657 98.1108);
  --accent-foreground: oklch(0.4955 0.2369 301.9241);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.4955 0.2369 301.9241);
  --chart-1: oklch(0.4955 0.2369 301.9241);
  --chart-2: oklch(0.8606 0.1731 91.9357);
  --chart-3: oklch(0.8369 0.1644 84.4286);
  --chart-4: oklch(0.6268 0.2325 303.9004);
  --chart-5: oklch(0.9052 0.1657 98.1108);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2827 0.1351 291.0894);
  --sidebar-primary: oklch(0.4955 0.2369 301.9241);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9619 0.0580 95.6174);
  --sidebar-accent-foreground: oklch(0.4955 0.2369 301.9241);
  --sidebar-border: oklch(0.9288 0.0126 255.5078);
  --sidebar-ring: oklch(0.4955 0.2369 301.9241);
  --font-sans: "Patrick Hand", "Comic Sans MS", cursive;
  --font-serif: Georgia, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0.05em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2827 0.1351 291.0894);
  --foreground: oklch(0.9729 0.0693 103.1933);
  --card: oklch(0.3796 0.1783 293.7446);
  --card-foreground: oklch(0.9729 0.0693 103.1933);
  --popover: oklch(0.3796 0.1783 293.7446);
  --popover-foreground: oklch(0.9729 0.0693 103.1933);
  --primary: oklch(0.8606 0.1731 91.9357);
  --primary-foreground: oklch(0.2827 0.1351 291.0894);
  --secondary: oklch(0.4955 0.2369 301.9241);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.3796 0.1783 293.7446);
  --muted-foreground: oklch(0.7118 0.0129 286.0665);
  --accent: oklch(0.8369 0.1644 84.4286);
  --accent-foreground: oklch(0.2827 0.1351 291.0894);
  --destructive: oklch(0.3958 0.1331 25.7230);
  --destructive-foreground: oklch(0.9729 0.0693 103.1933);
  --border: oklch(0.3796 0.1783 293.7446);
  --input: oklch(0.3796 0.1783 293.7446);
  --ring: oklch(0.8606 0.1731 91.9357);
  --chart-1: oklch(0.8606 0.1731 91.9357);
  --chart-2: oklch(0.4955 0.2369 301.9241);
  --chart-3: oklch(0.8369 0.1644 84.4286);
  --chart-4: oklch(0.8268 0.1082 306.3827);
  --chart-5: oklch(0.6268 0.2325 303.9004);
  --sidebar: oklch(0.2827 0.1351 291.0894);
  --sidebar-foreground: oklch(0.9729 0.0693 103.1933);
  --sidebar-primary: oklch(0.8606 0.1731 91.9357);
  --sidebar-primary-foreground: oklch(0.2827 0.1351 291.0894);
  --sidebar-accent: oklch(0.3796 0.1783 293.7446);
  --sidebar-accent-foreground: oklch(0.9729 0.0693 103.1933);
  --sidebar-border: oklch(0.3796 0.1783 293.7446);
  --sidebar-ring: oklch(0.8606 0.1731 91.9357);
  --font-sans: "Patrick Hand", "Comic Sans MS", cursive;
  --font-serif: Georgia, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 6px 15px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 6px 15px 0px hsl(0 0% 0% / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}